#s-3ef8c29f-9f8d-499c-a6e6-d5eca38fa408 #s-Panel_30 {
  background-image: url('../../images/[Generated] b0994e7f-966d-4111-b26c-4da42b0cec5a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 186px;
  height: 35px;
}
#s-3ef8c29f-9f8d-499c-a6e6-d5eca38fa408 #s-Rectangle_8 {
  background-image: url('../../images/[Generated] dddaf144-7832-45dd-8419-b9c44cac844e.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 38px;
  height: 37px;
}
#s-3ef8c29f-9f8d-499c-a6e6-d5eca38fa408 #s-Rectangle_9 {
  background-image: url('../../images/[Generated] a5b5f833-98c4-483b-9619-955f3fef290a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 34px;
  height: 42px;
}
#s-3ef8c29f-9f8d-499c-a6e6-d5eca38fa408 #s-Rectangle_68 {
  background-image: url('../../images/[Generated] 0f49e56e-3a9f-446f-aa05-bb5e556f2f9c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 71px;
  height: 76px;
}
#s-3ef8c29f-9f8d-499c-a6e6-d5eca38fa408 #s-Rectangle_69 {
  background-image: url('../../images/[Generated] f2d6cd9a-b131-4d01-9524-24f27b259731.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 71px;
  height: 76px;
}
#s-3ef8c29f-9f8d-499c-a6e6-d5eca38fa408 #s-Rectangle_67 {
  background-image: url('../../images/[Generated] 27ca586c-91d9-46fc-8b38-2b7712198669.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 71px;
  height: 76px;
}