#s-56d852e0-ac8f-484f-b4a3-0a933b3fd27f #s-Button_1 {
  background-image: url('../../images/[Generated] 53514ef7-dbea-4449-84f7-c1cf9b55f11a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 215px;
  height: 42px;
}