#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c {
  background-color: transparent;
  min-width: 1010px;
  min-height: 694px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_map_1 {
  position: absolute;
  top: 644px;
  left: 173px;
  width: 80px;
  height: 50px;
  cursor: pointer;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_map_2 {
  position: absolute;
  top: 653px;
  left: 252px;
  width: 73px;
  height: 32px;
  cursor: pointer;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_map_3 {
  position: absolute;
  top: 651px;
  left: 108px;
  width: 66px;
  height: 35px;
  cursor: pointer;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Master_item_1 div.offset {
  position: relative;
  top: -180px;
  left: -14px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Master_item_1 {
  position: absolute;
  top: 574px;
  left: 90px;
  width: 331px;
  height: 71px;
  display: none;
  overflow: hidden;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 {
  position: absolute;
  top: 41px;
  left: 487px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 513px;
  height: 515px;
  background-color: #FFFFFF;
  line-height: 20px;
  font-size: 28pt;
  font-family: Arial;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 28pt;
  font-style: normal;
  font-weight: bold;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 28pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_2 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_3 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 24pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_4 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_5 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_6 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_7 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 24pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_8 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_9 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_10 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_11 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_12 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_13 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_14 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rich_text_1 span#rtr-s-Rich_text_1_15 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rectangle_1 {
  position: absolute;
  top: 148px;
  left: 95px;
  width: 320px;
  height: 48px;
  background-color: #404040;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_1 {
  position: absolute;
  top: 195px;
  left: 303px;
  width: 112px;
  height: 24px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 16pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_1 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_8 {
  position: absolute;
  top: 305px;
  left: 349px;
  width: 66px;
  height: 23px;
  background-color: transparent;
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 11pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_8 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_9 {
  position: absolute;
  top: 206px;
  left: 181px;
  width: 15px;
  height: 7px;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_9 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Rectangle_2 {
  position: absolute;
  top: 195px;
  left: 95px;
  width: 317px;
  height: 371px;
  background-color: #1B1C17;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1B1C17;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1B1C17;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1B1C17;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1B1C17;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Line_1 {
  position: absolute;
  top: 288px;
  left: 97px;
  width: 315px;
  height: 0px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #808080;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_11 {
  position: absolute;
  top: 240px;
  left: 103px;
  width: 105px;
  height: 22px;
  background-color: transparent;
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_11 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Line_2 {
  position: absolute;
  top: 376px;
  left: 97px;
  width: 315px;
  height: 0px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #808080;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_14 {
  position: absolute;
  top: 213px;
  left: 141px;
  width: 112px;
  height: 22px;
  background-color: transparent;
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_14 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Line_3 {
  position: absolute;
  top: 466px;
  left: 97px;
  width: 315px;
  height: 0px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #808080;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_25 {
  position: absolute;
  top: 240px;
  left: 195px;
  width: 68px;
  height: 22px;
  background-color: transparent;
  color: #3E8828;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_25 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_5 {
  position: absolute;
  top: 213px;
  left: 289px;
  width: 38px;
  height: 36px;
  cursor: pointer;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_6 {
  position: absolute;
  top: 309px;
  left: 340px;
  width: 26px;
  height: 29px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_4 {
  position: absolute;
  top: 241px;
  left: 169px;
  width: 21px;
  height: 19px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_3 {
  position: absolute;
  top: 206px;
  left: 106px;
  width: 32px;
  height: 35px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_1 {
  position: absolute;
  top: 261px;
  left: 103px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_2 {
  position: absolute;
  top: 261px;
  left: 120px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_11 {
  position: absolute;
  top: 261px;
  left: 137px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_12 {
  position: absolute;
  top: 261px;
  left: 154px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_13 {
  position: absolute;
  top: 261px;
  left: 171px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Line_4 {
  position: absolute;
  top: 556px;
  left: 97px;
  width: 315px;
  height: 0px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #808080;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_26 {
  position: absolute;
  top: 248px;
  left: 303px;
  width: 68px;
  height: 22px;
  background-color: transparent;
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_26 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_2 {
  position: absolute;
  top: 221px;
  left: 379px;
  width: 35px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 11pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_2 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_12 {
  position: absolute;
  top: 333px;
  left: 103px;
  width: 105px;
  height: 22px;
  background-color: transparent;
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_12 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_15 {
  position: absolute;
  top: 306px;
  left: 141px;
  width: 114px;
  height: 22px;
  background-color: transparent;
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_15 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_27 {
  position: absolute;
  top: 333px;
  left: 195px;
  width: 68px;
  height: 22px;
  background-color: transparent;
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_27 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_7 {
  position: absolute;
  top: 306px;
  left: 289px;
  width: 38px;
  height: 36px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_8 {
  position: absolute;
  top: 217px;
  left: 341px;
  width: 26px;
  height: 28px;
  cursor: pointer;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_14 {
  position: absolute;
  top: 354px;
  left: 103px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_15 {
  position: absolute;
  top: 354px;
  left: 120px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_16 {
  position: absolute;
  top: 354px;
  left: 137px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_28 {
  position: absolute;
  top: 341px;
  left: 303px;
  width: 68px;
  height: 22px;
  background-color: transparent;
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_28 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_3 {
  position: absolute;
  top: 314px;
  left: 379px;
  width: 35px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 11pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_3 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_13 {
  position: absolute;
  top: 420px;
  left: 103px;
  width: 105px;
  height: 22px;
  background-color: transparent;
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_13 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_16 {
  position: absolute;
  top: 393px;
  left: 141px;
  width: 173px;
  height: 22px;
  background-color: transparent;
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_16 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_29 {
  position: absolute;
  top: 420px;
  left: 195px;
  width: 68px;
  height: 22px;
  background-color: transparent;
  color: #3E8828;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_29 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_17 {
  position: absolute;
  top: 393px;
  left: 289px;
  width: 38px;
  height: 36px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_18 {
  position: absolute;
  top: 397px;
  left: 340px;
  width: 26px;
  height: 28px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_19 {
  position: absolute;
  top: 421px;
  left: 169px;
  width: 21px;
  height: 19px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_21 {
  position: absolute;
  top: 441px;
  left: 103px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_22 {
  position: absolute;
  top: 441px;
  left: 120px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_23 {
  position: absolute;
  top: 441px;
  left: 137px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_30 {
  position: absolute;
  top: 428px;
  left: 303px;
  width: 68px;
  height: 22px;
  background-color: transparent;
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_30 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_4 {
  position: absolute;
  top: 401px;
  left: 379px;
  width: 35px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 11pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_4 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_10 {
  position: absolute;
  top: 300px;
  left: 106px;
  width: 32px;
  height: 34px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_9 {
  position: absolute;
  top: 334px;
  left: 171px;
  width: 18px;
  height: 19px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_20 {
  position: absolute;
  top: 384px;
  left: 105px;
  width: 34px;
  height: 36px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_5 {
  position: absolute;
  top: 161px;
  left: 303px;
  width: 112px;
  height: 24px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 16pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_5 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_17 {
  position: absolute;
  top: 512px;
  left: 104px;
  width: 105px;
  height: 22px;
  background-color: transparent;
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_17 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_18 {
  position: absolute;
  top: 485px;
  left: 142px;
  width: 173px;
  height: 22px;
  background-color: transparent;
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_18 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_31 {
  position: absolute;
  top: 512px;
  left: 196px;
  width: 68px;
  height: 22px;
  background-color: transparent;
  color: #3E8828;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_31 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_24 {
  position: absolute;
  top: 485px;
  left: 290px;
  width: 38px;
  height: 36px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_25 {
  position: absolute;
  top: 489px;
  left: 341px;
  width: 26px;
  height: 28px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_26 {
  position: absolute;
  top: 513px;
  left: 170px;
  width: 21px;
  height: 19px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_27 {
  position: absolute;
  top: 533px;
  left: 104px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_28 {
  position: absolute;
  top: 533px;
  left: 121px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_29 {
  position: absolute;
  top: 533px;
  left: 138px;
  width: 18px;
  height: 15px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_32 {
  position: absolute;
  top: 520px;
  left: 304px;
  width: 68px;
  height: 22px;
  background-color: transparent;
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_32 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_6 {
  position: absolute;
  top: 493px;
  left: 380px;
  width: 35px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 11pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_6 .valign {
  vertical-align: middle;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Image_30 {
  position: absolute;
  top: 473px;
  left: 100px;
  width: 32px;
  height: 40px;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_7 {
  position: absolute;
  top: 205px;
  left: 103px;
  width: 158px;
  height: 76px;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-6cf3b0ca-a4af-4820-b1db-6dc568e1cd8c #s-Label_7 .valign {
  vertical-align: middle;
}