#s-74167efa-06f0-41b4-82d1-f0deb9956073 #s-Button_1 {
  background-image: url('../../images/[Generated] 66c63817-56fd-4fd5-bd42-71069990d5ff.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 40px;
  height: 34px;
}