#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 {
  background-color: transparent;
  min-width: 1010px;
  min-height: 694px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Image_map_1 {
  position: absolute;
  top: 644px;
  left: 173px;
  width: 80px;
  height: 50px;
  cursor: pointer;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Image_map_2 {
  position: absolute;
  top: 653px;
  left: 252px;
  width: 73px;
  height: 32px;
  cursor: pointer;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Image_map_3 {
  position: absolute;
  top: 651px;
  left: 108px;
  width: 66px;
  height: 35px;
  cursor: pointer;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Master_item_1 div.offset {
  position: relative;
  top: -180px;
  left: -14px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Master_item_1 {
  position: absolute;
  top: 574px;
  left: 90px;
  width: 331px;
  height: 71px;
  display: none;
  overflow: hidden;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 {
  position: absolute;
  top: 25px;
  left: 487px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 513px;
  height: 514px;
  background-color: #FFFFFF;
  line-height: 20px;
  font-size: 20pt;
  font-family: Arial;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: normal;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 28pt;
  font-style: normal;
  font-weight: normal;
  line-height: 28pt;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_2 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_3 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_4 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 24pt;
  font-style: normal;
  font-weight: bold;
  line-height: 24pt;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_5 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_6 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_7 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_8 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 24pt;
  font-style: normal;
  font-weight: bold;
  line-height: 24pt;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_9 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_10 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_11 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_12 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_13 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_14 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rich_text_1 span#rtr-s-Rich_text_1_15 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Rectangle_1 {
  position: absolute;
  top: 148px;
  left: 95px;
  width: 320px;
  height: 48px;
  background-color: #404040;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Label_1 {
  position: absolute;
  top: 161px;
  left: 303px;
  width: 112px;
  height: 24px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 16pt;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Input_1 {
  position: absolute;
  top: 281px;
  left: 147px;
  padding-right: 5px;
  padding-left: 5px;
  width: 209px;
  height: 41px;
  background-color: #FFFFFF;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  cursor: text;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Input_1 input {
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Input_2 {
  position: absolute;
  top: 350px;
  left: 147px;
  padding-right: 5px;
  padding-left: 5px;
  width: 209px;
  height: 41px;
  background-color: #FFFFFF;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  cursor: text;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Input_2 input {
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Button_1 {
  position: absolute;
  top: 425px;
  left: 147px;
  width: 213px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 14pt;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Label_2 {
  position: absolute;
  top: 268px;
  left: 139px;
  width: 239px;
  height: 141px;
  background-color: #337021;
  opacity: 0.58;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 14pt;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Label_3 {
  position: absolute;
  top: 283px;
  left: 205px;
  width: 108px;
  height: 111px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial Rounded MT Bold;
  font-size: 72pt;
  font-style: normal;
  font-weight: bold;
  line-height: 72pt;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Label_4 {
  position: absolute;
  top: 232px;
  left: 101px;
  width: 315px;
  height: 27px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 14pt;
}
#s-7d0e7ab5-8287-4050-8583-40e3792d3ba8 #s-Label_4 .valign {
  vertical-align: middle;
}