#s-8024ba50-daf5-4ac8-891a-2ba1a20c4f4a #s-Button_1 {
  background-image: url('../../images/[Generated] f2d07cce-3e84-4a84-8f0e-2bf68428b20b.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 286px;
  height: 51px;
}
#s-8024ba50-daf5-4ac8-891a-2ba1a20c4f4a #s-Label_4 {
  background-image: url('../../images/[Generated] 20842c7f-5fa5-4790-9310-6e2c37d1d530.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  width: 282px;
  height: 86px;
}
#s-8024ba50-daf5-4ac8-891a-2ba1a20c4f4a #s-Label_5 {
  background-image: url('../../images/[Generated] 073a999d-fa1f-463c-a476-09d32829ba26.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  width: 296px;
  height: 86px;
}
#s-8024ba50-daf5-4ac8-891a-2ba1a20c4f4a #s-Label_6 {
  background-image: url('../../images/[Generated] c1998c52-b6cd-4f36-8c6e-a4456d35b171.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  width: 296px;
  height: 86px;
}
#s-8024ba50-daf5-4ac8-891a-2ba1a20c4f4a #s-Button_2 {
  background-image: url('../../images/[Generated] baed0e53-54a8-498b-9fee-61aa301b676a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 286px;
  height: 51px;
}