#s-85a08665-0876-4ac3-872d-6517629e3a16 #s-Button_1 {
  background-image: url('../../images/[Generated] 78b35e64-b5ca-41d8-b762-0d933f8b0b05.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 215px;
  height: 42px;
}
#s-85a08665-0876-4ac3-872d-6517629e3a16 #s-Button_2 {
  background-image: url('../../images/[Generated] 03c781d2-31a2-4029-865b-513fbd63bd2d.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 215px;
  height: 42px;
}