#s-8c00869c-e955-4168-b10e-78034f68858a {
  background-color: transparent;
  min-width: 426px;
  min-height: 694px;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Dynamic_Panel_1 {
  position: absolute;
  top: 350px;
  left: 95px;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Panel_1 {
  width: 320px;
  height: 251px;
  background-color: transparent;
  overflow-x: auto;
  overflow-y: auto;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Image_1 {
  position: absolute;
  top: -37px;
  left: 1px;
  width: 766px;
  height: 541px;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Image_map_1 {
  position: absolute;
  top: 63px;
  left: 400px;
  width: 28px;
  height: 24px;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Image_2 {
  position: absolute;
  top: 225px;
  left: 550px;
  width: 43px;
  height: 37px;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Image_map_2 {
  position: absolute;
  top: -41px;
  left: 4px;
  width: 41px;
  height: 35px;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Image_3 {
  position: absolute;
  top: -41px;
  left: 2px;
  width: 319px;
  height: 46px;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Image_4 {
  position: absolute;
  top: 542px;
  left: 277px;
  width: 112px;
  height: 34px;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Image_map_3 {
  position: absolute;
  top: 544px;
  left: 333px;
  width: 55px;
  height: 28px;
  cursor: pointer;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Image_map_4 {
  position: absolute;
  top: 544px;
  left: 277px;
  width: 55px;
  height: 28px;
  cursor: pointer;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Image_map_5 {
  position: absolute;
  top: 644px;
  left: 173px;
  width: 80px;
  height: 50px;
  cursor: pointer;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Image_map_6 {
  position: absolute;
  top: 653px;
  left: 252px;
  width: 73px;
  height: 32px;
  cursor: pointer;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Image_map_7 {
  position: absolute;
  top: 651px;
  left: 108px;
  width: 66px;
  height: 35px;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Master_item_1 div.offset {
  position: relative;
  top: -180px;
  left: -14px;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Master_item_1 {
  position: absolute;
  top: 533px;
  left: 95px;
  width: 331px;
  height: 71px;
  display: none;
  overflow: hidden;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Rectangle_1 {
  position: absolute;
  top: 148px;
  left: 95px;
  width: 320px;
  height: 48px;
  background-color: #404040;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Label_2 {
  position: absolute;
  top: 161px;
  left: 303px;
  width: 112px;
  height: 24px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 16pt;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Label_2 .valign {
  vertical-align: middle;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Image_5 {
  position: absolute;
  top: 206px;
  left: 101px;
  width: 63px;
  height: 75px;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Label_4 {
  position: absolute;
  top: 240px;
  left: 170px;
  width: 113px;
  height: 23px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 14pt;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Label_4 .valign {
  vertical-align: middle;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Label_5 {
  position: absolute;
  top: 262px;
  left: 170px;
  width: 134px;
  height: 23px;
  background-color: transparent;
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Label_5 .valign {
  vertical-align: middle;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Image_6 {
  position: absolute;
  top: 231px;
  left: 355px;
  width: 40px;
  height: 41px;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Label_6 {
  position: absolute;
  top: 271px;
  left: 349px;
  width: 66px;
  height: 23px;
  background-color: transparent;
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 11pt;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Label_6 .valign {
  vertical-align: middle;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Label_1 {
  position: absolute;
  top: 309px;
  left: 104px;
  width: 313px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 9pt;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Label_1 .valign {
  vertical-align: middle;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Label_7 {
  position: absolute;
  top: 328px;
  left: 104px;
  width: 313px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 9pt;
}
#s-8c00869c-e955-4168-b10e-78034f68858a #s-Label_7 .valign {
  vertical-align: middle;
}