#s-a56d1bc7-4fc0-4aac-94d9-1de0810550d8 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-a56d1bc7-4fc0-4aac-94d9-1de0810550d8 #s-Button_1 {
  background-image: url('../../images/[Generated] 19ede37c-247d-4e2f-935e-d97eeefe79eb.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 215px;
  height: 28px;
}
#s-a56d1bc7-4fc0-4aac-94d9-1de0810550d8 #s-Label_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
}