#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Button_1 {
  background-image: url('../../images/[Generated] 3f386821-8689-4d5d-96ff-8a57d9896ef5.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 286px;
  height: 51px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Button_2 {
  background-image: url('../../images/[Generated] a81e43cf-c63c-4ca9-a958-48ec3d652551.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 286px;
  height: 51px;
}