#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d {
  background-color: transparent;
  min-width: 1010px;
  min-height: 742px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Image_map_1 {
  position: absolute;
  top: 644px;
  left: 173px;
  width: 80px;
  height: 50px;
  cursor: pointer;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Image_map_2 {
  position: absolute;
  top: 653px;
  left: 252px;
  width: 73px;
  height: 32px;
  cursor: pointer;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Image_map_3 {
  position: absolute;
  top: 651px;
  left: 108px;
  width: 66px;
  height: 35px;
  cursor: pointer;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Master_item_1 div.offset {
  position: relative;
  top: -180px;
  left: -14px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Master_item_1 {
  position: absolute;
  top: 574px;
  left: 90px;
  width: 331px;
  height: 71px;
  display: none;
  overflow: hidden;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 {
  position: absolute;
  top: 49px;
  left: 487px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 513px;
  height: 683px;
  background-color: #FFFFFF;
  line-height: 20px;
  font-size: 28pt;
  font-family: Arial;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 28pt;
  font-style: normal;
  font-weight: normal;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 28pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_2 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_3 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 24pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_4 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_5 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_6 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_7 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 24pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_8 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_9 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_10 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_11 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_12 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_13 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_14 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_15 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_16 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_17 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_18 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_19 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rich_text_1 span#rtr-s-Rich_text_1_20 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Rectangle_1 {
  position: absolute;
  top: 148px;
  left: 95px;
  width: 320px;
  height: 48px;
  background-color: #404040;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Label_1 {
  position: absolute;
  top: 161px;
  left: 303px;
  width: 112px;
  height: 24px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 16pt;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Label_1 .valign {
  vertical-align: middle;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Label_2 {
  position: absolute;
  top: 293px;
  left: 206px;
  width: 98px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 12pt;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Label_2 .valign {
  vertical-align: middle;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Button_1 {
  position: absolute;
  top: 271px;
  left: 109px;
  width: 284px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
  -webkit-border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  -webkit-border-bottom-right-radius: 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Button_1 .valign {
  vertical-align: middle;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Button_2 {
  position: absolute;
  top: 381px;
  left: 109px;
  width: 284px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
  -webkit-border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  -webkit-border-bottom-right-radius: 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 11pt;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Button_2 .valign {
  vertical-align: middle;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Label_3 {
  position: absolute;
  top: 235px;
  left: 160px;
  width: 194px;
  height: 22px;
  background-color: transparent;
  color: #D5D02F;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  line-height: 11pt;
}
#s-b0095bd6-4878-4cf4-8e80-e93a06bd5a0d #s-Label_3 .valign {
  vertical-align: middle;
}