#s-d72049d7-8829-48ee-980f-bdb16c6352e5 {
  background-color: transparent;
  min-width: 426px;
  min-height: 694px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_6 {
  position: absolute;
  top: 303px;
  left: 99px;
  width: 315px;
  height: 47px;
  background-color: #1B1C17;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 350px;
  left: 95px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Panel_1 {
  width: 320px;
  height: 251px;
  background-color: transparent;
  overflow-x: auto;
  overflow-y: auto;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_4 {
  position: absolute;
  top: -37px;
  left: 1px;
  width: 766px;
  height: 541px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_map_1 {
  position: absolute;
  top: 63px;
  left: 400px;
  width: 28px;
  height: 24px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_2 {
  position: absolute;
  top: 225px;
  left: 550px;
  width: 43px;
  height: 37px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_5 {
  position: absolute;
  top: -41px;
  left: 2px;
  width: 319px;
  height: 46px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_map_7 {
  position: absolute;
  top: -41px;
  left: 4px;
  width: 41px;
  height: 35px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_3 {
  position: absolute;
  top: 542px;
  left: 277px;
  width: 112px;
  height: 34px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_map_5 {
  position: absolute;
  top: 544px;
  left: 333px;
  width: 55px;
  height: 28px;
  cursor: pointer;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_map_6 {
  position: absolute;
  top: 544px;
  left: 277px;
  width: 55px;
  height: 28px;
  cursor: pointer;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_map_2 {
  position: absolute;
  top: 644px;
  left: 173px;
  width: 80px;
  height: 50px;
  cursor: pointer;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_map_3 {
  position: absolute;
  top: 653px;
  left: 252px;
  width: 73px;
  height: 32px;
  cursor: pointer;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_map_4 {
  position: absolute;
  top: 651px;
  left: 108px;
  width: 66px;
  height: 35px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Master_item_1 div.offset {
  position: relative;
  top: -180px;
  left: -14px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Master_item_1 {
  position: absolute;
  top: 533px;
  left: 95px;
  width: 331px;
  height: 71px;
  display: none;
  overflow: hidden;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Rectangle_1 {
  position: absolute;
  top: 148px;
  left: 95px;
  width: 320px;
  height: 48px;
  background-color: #404040;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_1 {
  position: absolute;
  top: 161px;
  left: 303px;
  width: 112px;
  height: 24px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 16pt;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_2 {
  position: absolute;
  top: 153px;
  left: 101px;
  width: 64px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_6 {
  position: absolute;
  top: 206px;
  left: 101px;
  width: 63px;
  height: 75px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_10 {
  position: absolute;
  top: 240px;
  left: 170px;
  width: 113px;
  height: 23px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 14pt;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_10 .valign {
  vertical-align: middle;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_11 {
  position: absolute;
  top: 262px;
  left: 170px;
  width: 134px;
  height: 23px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_11 .valign {
  vertical-align: middle;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_7 {
  position: absolute;
  top: 231px;
  left: 355px;
  width: 40px;
  height: 41px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_12 {
  position: absolute;
  top: 271px;
  left: 349px;
  width: 66px;
  height: 23px;
  background-color: transparent;
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 11pt;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_12 .valign {
  vertical-align: middle;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_3 {
  position: absolute;
  top: 308px;
  left: 101px;
  width: 105px;
  height: 22px;
  background-color: transparent;
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_4 {
  position: absolute;
  top: 329px;
  left: 101px;
  width: 105px;
  height: 22px;
  background-color: transparent;
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_5 {
  position: absolute;
  top: 308px;
  left: 273px;
  width: 130px;
  height: 22px;
  background-color: transparent;
  color: #C0C0C0;
  text-align: right;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_14 {
  position: absolute;
  top: 329px;
  left: 273px;
  width: 130px;
  height: 22px;
  background-color: transparent;
  color: #FFFF00;
  text-align: right;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Label_14 .valign {
  vertical-align: middle;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_1 {
  position: absolute;
  top: 153px;
  left: 206px;
  width: 76px;
  height: 41px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_map_8 {
  position: absolute;
  top: 154px;
  left: 251px;
  width: 41px;
  height: 40px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_map_9 {
  position: absolute;
  top: 154px;
  left: 206px;
  width: 41px;
  height: 40px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_8 {
  position: absolute;
  top: 154px;
  left: 173px;
  width: 37px;
  height: 40px;
}
#s-d72049d7-8829-48ee-980f-bdb16c6352e5 #s-Image_map_10 {
  position: absolute;
  top: 154px;
  left: 171px;
  width: 41px;
  height: 40px;
}