#t-13b712fd-7dec-4f24-9705-f2387cc550a3 {
  background-color: #FFFFFF;
  min-width: 320px;
  min-height: 484px;
}
#t-13b712fd-7dec-4f24-9705-f2387cc550a3 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-13b712fd-7dec-4f24-9705-f2387cc550a3 #t-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 25px;
}
#t-13b712fd-7dec-4f24-9705-f2387cc550a3 #t-Image_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 25px;
}
#t-13b712fd-7dec-4f24-9705-f2387cc550a3 #t-Label_1 {
  position: absolute;
  top: 3px;
  left: 281px;
  padding-left: 5px;
  width: 27px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Calibri;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#t-13b712fd-7dec-4f24-9705-f2387cc550a3 #t-Label_1 .valign {
  vertical-align: middle;
}
#t-13b712fd-7dec-4f24-9705-f2387cc550a3 #t-Image_3 {
  position: absolute;
  top: 6px;
  left: 261px;
  width: 13px;
  height: 16px;
}
#t-13b712fd-7dec-4f24-9705-f2387cc550a3 #t-Image_4 {
  position: absolute;
  top: 7px;
  left: 215px;
  width: 18px;
  height: 14px;
}
#t-13b712fd-7dec-4f24-9705-f2387cc550a3 #t-Image_5 {
  position: absolute;
  top: 7px;
  left: 239px;
  width: 15px;
  height: 14px;
}
#t-13b712fd-7dec-4f24-9705-f2387cc550a3 #t-Rectangle_1 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 320px;
  height: 460px;
  background-color: #FFFFFF;
  background-image: url('../../images/7- image_2.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll;
}
#t-13b712fd-7dec-4f24-9705-f2387cc550a3 #t-Image_6 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 320px;
  height: 54px;
}
#t-13b712fd-7dec-4f24-9705-f2387cc550a3 #t-Image_map_1 {
  position: absolute;
  top: 30px;
  left: 5px;
  width: 41px;
  height: 42px;
}