#t-88542ead-a339-4937-89e9-0f0383722520 {
  background-color: #FFFFFF;
  min-width: 488px;
  min-height: 820px;
}
#t-88542ead-a339-4937-89e9-0f0383722520 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-88542ead-a339-4937-89e9-0f0383722520 #t-Image_1 {
  position: absolute;
  top: 10px;
  left: 24px;
  width: 464px;
  height: 810px;
}
#t-88542ead-a339-4937-89e9-0f0383722520 #t-Group_1 {
  position: absolute;
  top: 122px;
  left: 95px;
  width: 320px;
  height: 25px;
}
#t-88542ead-a339-4937-89e9-0f0383722520 #t-Image_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 25px;
}
#t-88542ead-a339-4937-89e9-0f0383722520 #t-Label_1 {
  position: absolute;
  top: 3px;
  left: 281px;
  padding-left: 5px;
  width: 27px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Calibri;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#t-88542ead-a339-4937-89e9-0f0383722520 #t-Label_1 .valign {
  vertical-align: middle;
}
#t-88542ead-a339-4937-89e9-0f0383722520 #t-Image_3 {
  position: absolute;
  top: 6px;
  left: 261px;
  width: 13px;
  height: 16px;
}
#t-88542ead-a339-4937-89e9-0f0383722520 #t-Image_4 {
  position: absolute;
  top: 7px;
  left: 215px;
  width: 18px;
  height: 14px;
}
#t-88542ead-a339-4937-89e9-0f0383722520 #t-Image_5 {
  position: absolute;
  top: 7px;
  left: 239px;
  width: 15px;
  height: 14px;
}
#t-88542ead-a339-4937-89e9-0f0383722520 #t-Rectangle_1 {
  position: absolute;
  top: 146px;
  left: 96px;
  width: 319px;
  height: 453px;
  background-color: #FFFFFF;
  background-image: url('../../images/0- image_2.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll;
}
#t-88542ead-a339-4937-89e9-0f0383722520 #t-Image_6 {
  position: absolute;
  top: 146px;
  left: 95px;
  width: 320px;
  height: 54px;
}
#t-88542ead-a339-4937-89e9-0f0383722520 #t-Image_map_1 {
  position: absolute;
  top: 152px;
  left: 101px;
  width: 41px;
  height: 42px;
}