#t-f39803f7-df02-4169-93eb-7547fb8c961a {
  background-color: #FFFFFF;
  min-width: 488px;
  min-height: 820px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_4 {
  position: absolute;
  top: 10px;
  left: 24px;
  width: 464px;
  height: 810px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Group_55 {
  position: absolute;
  top: 122px;
  left: 95px;
  width: 320px;
  height: 25px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_90 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 25px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_60 {
  position: absolute;
  top: 3px;
  left: 281px;
  padding-left: 5px;
  width: 27px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Calibri;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_60 .valign {
  vertical-align: middle;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_91 {
  position: absolute;
  top: 6px;
  left: 261px;
  width: 13px;
  height: 16px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_92 {
  position: absolute;
  top: 7px;
  left: 215px;
  width: 18px;
  height: 14px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_93 {
  position: absolute;
  top: 7px;
  left: 239px;
  width: 15px;
  height: 14px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 {
  position: absolute;
  top: 146px;
  left: 96px;
  width: 319px;
  height: 453px;
  background-color: #FFFFFF;
  background-image: url('../../images/0- image_2.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll;
}