#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6.master {
  background-color: transparent;
}
#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6 #m-Rectangle_1 {
  position: absolute;
  top: 180px;
  left: 14px;
  width: 327px;
  height: 67px;
  background-color: #FFFFFF;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #808080;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #808080;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #808080;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #808080;
}
#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6 #m-Line_1 {
  position: absolute;
  top: 183px;
  left: 164px;
  width: 0px;
  height: 64px;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #808080;
}
#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6 #m-Label_8 {
  position: absolute;
  top: 183px;
  left: 17px;
  width: 147px;
  height: 22px;
  background-color: transparent;
  cursor: pointer;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 14pt;
}
#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6 #m-Label_8 .valign {
  vertical-align: middle;
}
#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6 #m-Image_6 {
  position: absolute;
  top: 183px;
  left: 122px;
  width: 39px;
  height: 32px;
}
#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6 #m-Label_5 {
  position: absolute;
  top: 214px;
  left: 25px;
  width: 132px;
  height: 27px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 9pt;
}
#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6 #m-Label_5 .valign {
  vertical-align: middle;
}
#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6 #m-Group_1 {
  position: absolute;
  top: 183px;
  left: 176px;
  width: 165px;
  height: 58px;
}
#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6 #m-Label_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 143px;
  height: 22px;
  background-color: transparent;
  cursor: pointer;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  line-height: 14pt;
}
#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6 #m-Label_7 .valign {
  vertical-align: middle;
}
#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6 #m-Image_5 {
  position: absolute;
  top: 0px;
  left: 130px;
  width: 35px;
  height: 32px;
}
#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6 #m-Label_4 {
  position: absolute;
  top: 31px;
  left: 0px;
  width: 165px;
  height: 27px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 9pt;
}
#m-9ebd65d6-f6c0-4ddc-9a8a-9f670495cbe6 #m-Label_4 .valign {
  vertical-align: middle;
}