#m-c64d469a-0d28-4680-836b-5bc2422f6854.master {
  background-color: transparent;
}
#m-c64d469a-0d28-4680-836b-5bc2422f6854 #m-Group_1 {
  position: absolute;
  top: 166px;
  left: 20px;
  width: 321px;
  height: 68px;
}
#m-c64d469a-0d28-4680-836b-5bc2422f6854 #m-Image_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 321px;
  height: 68px;
}
#m-c64d469a-0d28-4680-836b-5bc2422f6854 #m-Image_1 {
  position: absolute;
  top: 11px;
  left: 33px;
  width: 36px;
  height: 27px;
}
#m-c64d469a-0d28-4680-836b-5bc2422f6854 #m-Image_2 {
  position: absolute;
  top: 10px;
  left: 150px;
  width: 19px;
  height: 30px;
}
#m-c64d469a-0d28-4680-836b-5bc2422f6854 #m-Image_3 {
  position: absolute;
  top: 10px;
  left: 249px;
  width: 35px;
  height: 30px;
}
#m-c64d469a-0d28-4680-836b-5bc2422f6854 #m-Label_1 {
  position: absolute;
  top: 45px;
  left: 14px;
  width: 73px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Verdana;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#m-c64d469a-0d28-4680-836b-5bc2422f6854 #m-Label_1 .valign {
  vertical-align: top;
}
#m-c64d469a-0d28-4680-836b-5bc2422f6854 #m-Label_2 {
  position: absolute;
  top: 45px;
  left: 108px;
  width: 104px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Verdana;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#m-c64d469a-0d28-4680-836b-5bc2422f6854 #m-Label_2 .valign {
  vertical-align: top;
}
#m-c64d469a-0d28-4680-836b-5bc2422f6854 #m-Label_3 {
  position: absolute;
  top: 45px;
  left: 215px;
  width: 104px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Verdana;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#m-c64d469a-0d28-4680-836b-5bc2422f6854 #m-Label_3 .valign {
  vertical-align: top;
}